$max-width: 1200px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px;

$color-primary: #ec6901;
$color-secondary: #f4f4f4;
$color-light: #fff;
$color-dark: #000;

$font-family: 'Roboto', Arial, sans-serif;
