$max-width: 1200px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px;

$color-orange: #ec6901;
$color-gray: #f4f4f4;
$color-white: #fff;
$color-black: #000;

$font-family: 'Roboto', Arial, sans-serif;
