section.Showcase
.container
h1.Showcase-title COVID-19 ONLINE INFORMATION CENTER
h3.Showcase-subtitle
  Digital Hollywood University
p(lang="ja") デジタルハリウッド大学
.Schedule
.Schedule-title
h3
  You can make a reservation for the online 'Pandemic Prevention
  Seminar'
form.Schedule-form(action="")
.Schedule-form-item
.form-item
.icon.icon-at.form-item-icon
i.fas.fa-user
input.text(type="text" placeholder="example@email.com")
p.form-description Enter your e-mail adress
.Schedule-form-item
.form-item
.icon.icon-time.form-item-icon
i.far.fa-calendar
input.text(type="date")
p.form-description Choose an availabe date
.Schedule-form-item
.form-item
.icon.icon-time.form-item-icon
i.far.fa-clock
.select
.icon.icon-arrow-bottom.select-icon
i.fas.fa-angle-down
select
option(value="") 13:00
option(value="") 14:00
option(value="") 15:00
option(value="") 16:00
.Schedule-form-item
.subscribe
label.form-checkbox
  Subscribe for latest information
.checkbox
input(type="checkbox")
.icon.icon-check
i.fas.fa-check
button.button.button-click.button-full(type="button")
  Reservation
.Showcase-shortlink
a(href="https://toyokeizai.net/sp/visual/tko/covid19/en.html" target="_blank") COVID-19 Daily Rates
a(href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank") Emergency
a(href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?" target="_blank") COVID-19 Disease Dashboard
a(href="https://www.who.int/" target="_blank") WHO
a(href="https://www.un.org/en/coronavirus/covid-19-faqs" target="_blank") FAQ
.Showcase-store
a.Showcase-store-link.apple(href="")
img(src="img/apple.svg")
a.Showcase-store-link.google(href="")
img(src="img/google.svg"