header.Header
	.container
		a.Header-logo(href="")
			img(src="/dist/img/logo-dhu.png" alt="")

		button.Header-bars.button.button-icon(type="button")
			svg.icon.icon-menu
				use(xlink:href="#icon-menu")

		.Header-menu
			.Header-menu-user
				a(href="") Register
				a(href="") Sign In
				a(href="") Contact
        
			.Header-menu-lang
				select
					option(value="en") ENG
					option(value="jp") TUR
				select(lang="ja")
					option(value="jp") 日本