html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title DHU CVD19
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    link(rel="stylesheet", href="/dist/css/main.css")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Kosugi&display=swap", rel="stylesheet")
    script(src="https://kit.fontawesome.com/aadfe7cf3c.js", crossorigin="anonymous")
  body
    include icons
    include header
    include navigation
    
    main.Main
      block content

    script(src="/dist/js/jquery-3.5.1.min.js")
    script(src="/dist/js/main.js")