$max-width: 1000px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 45px;

$color-primary: #ec6901;
$color-secondary: #f4f4f4;
$color-tertiary: #9c3512;
$color-light: #fff;
$color-dark: #000;
$color-blue: #273f5b;

$font-family: 'Roboto', 'Kosugi', Arial, sans-serif;
$font-size: 16px;
$font-size-s: 0.8em;

$Header-height: 68px;
